.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: var(--elevated-content);
  max-width: 600px;
}

.card:hover .img {
  transform: scale(1.15);
}

.card:hover .title {
  color: var(--c-text-dark);
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.imgContainer {
  min-width: 140px;
  min-height: 140px;
  overflow: hidden;
  position: relative;
}

.textContainer {
  box-sizing: border-box;
  position: relative;
  text-align: left;
  color: var(--c-link);
  padding: 1em;
  line-height: 1em;
}

.description {
  color: var(--c-text-dark);
}

@media screen and (max-width: 400px) {
  .imgContainer {
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
    position: relative;
  }

  .textContainer {
    font-size: 0.7em;
    line-height: 1.2em;
    padding: 0.8em;
  }
}
