.window {
	color: var(--c-text-dark);
	background-color: rgba(10, 31, 44, 0.03);
	padding: 1em;
	margin: 1em 0 1em 0;
	display: block;
}

.window:hover {
	cursor: pointer;
}

.windowTitle {
	color: var(--c-link);
	padding: 0;
	margin: 0;
}

.window:hover .windowTitle {
	color: var(--c-text-dark);
}

.allProjectsLink {
	display: flex;
	justify-content: center;
	align-items: center;
}

.allProjectsLink > a {
	/* text-decoration: underline; */
	color: var(--c-link);
	width: max-content;
}

.allProjectsLink > a:hover {
	color: var(--c-text-dark);
}
