.navbar {
  position: sticky;
  height: var(--navbar-height);
  top: 0;
  z-index: 1;
  background-color: var(--c-bg-secondary);
  color: var(--c-text-navbar);
  /* box-shadow: 0 0.2em 0.4em grey; */
}

.navbar > span {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--c-bg-secondary);
  color: inherit;
}

.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 30vw;
  max-width: 600em;
  height: 100%;
  font-weight: bold;
  background-color: var(--c-bg-secondary);
}

.navlink:hover {
  background-color: var(--c-link);
}

.logoContainer {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.logo {
  font-size: 1.5em;
  color: var(--c-link);
  transition: color 0.3s ease;
  min-width: max-content;
  letter-spacing: 1px;
}

.logo:hover {
  color: var(--c-text-navbar);
}

.menuIcon {
  visibility: hidden;
  font-size: 1.6em;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3em;
  color: var(--c-text-navbar);
}

@media screen and (max-width: 800px) {
  .navlinks {
    flex-direction: column;
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: var(--navbar-height);
    left: -100%;
    background-color: inherit;
    transition: transform 0.3s ease;
  }

  .navlinks.open {
    transform: translateX(100%);
  }

  .menuIcon {
    visibility: unset;
  }

  .logoContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    font-size: 1em;
  }
}

@media screen and (max-width: 300px) {
  .navbar {
    font-size: 0.8em;
  }
}
