.navLogo {
  transition: color 0.3s ease;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--c-link);
  width: fit-content;
  height: fit-content;
}

.navLogo:hover {
  color: var(--c-text-navbar);
}
