.homeContent {
	display: grid;
	grid-template-columns: 3fr 1fr;
	column-gap: 1em;
}

.homeDescription {
	grid-column-start: 1;
	grid-column-end: 4;
}

.projectLink {
	color: var(--c-link);
}

.projectLink:hover {
	color: var(--c-text-primary);
}

.allProjectsLink {
	display: flex;
	justify-content: center;
	text-align: center;
}

.allProjectsLink > a {
	color: var(--c-link);
	width: max-content;
}

.allProjectsLink > a:hover {
	color: var(--c-text-dark);
}

@media screen and (max-width: 800px) {
	.homeContent {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
}
