.footer {
	position: relative;
	bottom: 0;
	height: var(--footer-height);
	background-color: var(--c-bg-secondary);
}

.footerContent {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialMediaLinks {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.socialMediaLink {
	margin-left: 1em;
	font-size: 1.5em;
	color: var(--c-text-light);
}

.socialMediaLink:hover {
	color: var(--c-link);
}
