.navlink {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: inherit;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.navlink:hover {
  background-color: var(--c-link);
}

.dropdownNavlink {
  width: 100%;
  height: 100%;
}

.dropdownContainer {
  width: max-content;
  height: max-content;
  position: absolute;
  min-width: 8em;
  top: var(--navbar-height);
  background-color: var(--c-bg-secondary);
}

@media screen and (max-width: 800px) {
  .dropdownContainer {
    top: 0;
    max-width: 100vw;
  }

  .navlink {
    justify-content: center;
    height: var(--navbar-height);
  }
}

.caret {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
  padding: 0.1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.flip {
  transform: rotate(180deg);
}
