.dropdown {
  width: 120%;
  position: absolute;
  top: 0;
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
  background-color: inherit;
  /* box-shadow: 0.2em 0.2em 0.4em grey; */
}

.dropdownItem {
  height: 100%;
  height: 2.4em;
  text-align: center;
  background-color: inherit;
}


.dropdown.closed {
  z-index: 0;
}

.dropdown.open {
  z-index: 1;
  max-height: 50vh;
}
