.homeContent {
	display: grid;
	grid-template-columns: 3fr 2fr;
	row-gap: 0em;
	column-gap: 2em;
}

.homeDescription {
	grid-column-start: 1;
	grid-column-end: 4;
}

.runningWeek {
	display: grid;
	row-gap: 1em;
}

.projectLink {
	color: var(--c-link);
}

.projectLink:hover {
	color: var(--c-text-primary);
}

.allProjectsLink {
	display: flex;
	justify-content: center;
	align-items: center;
}

.allProjectsLink > a {
	color: var(--c-link);
	width: max-content;
}

.allProjectsLink > a:hover {
	color: var(--c-text-dark);
}

@media screen and (max-width: 700px) {
	.homeContent {
		display: flex;
		flex-direction: column;
	}
}
